[Unit]
Description=i3lock on suspend
Before=suspend.target

[Service]
User=agustin
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/agustin/.i3/scripts/lock

[Install]
WantedBy=suspend.target
